// Breakpoints
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

@mixin tablet {
  @media (max-width: ($tablet - 1px) ){
    @content;
  }
}

/* Phone (480px and below) */
@mixin phone {
  @media (max-width: ($phone - 1px)) {
    @content;
  }
}


@mixin noisy-grain($opacity: 0.25, $size: 200px) {
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background: url('../assets/grain_texture.png');
    background-size: $size $size;
    background-repeat: repeat;

    mix-blend-mode: overlay;
    opacity: $opacity;
  }
}
