@use '../styles/mixins' as *;

.about {
 font-family: inherit; 
 width: 100%;
 color: #f5d27a;   
 text-align: center;
 border: 2px solid #caa44d;
  box-shadow:
    inset 0 0 0 4px #f5d27a,
    inset 0 0 0 10px #6b4b12,
    0 0 25px rgba(0, 0, 0, 0.6);
  position: relative;

}

.about__title {
  font-size: 32px;
  margin-bottom: 40px;
  letter-spacing: 2px;
  color: white;
}

.about__top {
 display: flex;
 flex-direction: row;
  justify-content: center;  
  align-items: center;    
 
  border: 2px solid #caa44d;

  padding: 10px;
  @include wideTablet{
flex-direction: column;
justify-content: center;
}
}

.about__photo-frame {
  height: 80%;                    
  display: flex;
  flex-direction: column;
  justify-self: center;
  border: 6px solid #caa44d;
  padding: 10px;
  background: #1e1433;
  max-width: 260px;
  margin: 0 auto;
  @include noisy-grain();

  img {
    flex: 1;                       
    width: 200px;
    height: 200px;
    object-fit: cover;               
    display: block;
  }
}

.about__photo-name {
  margin-top: 8px;
  background: #2b1c45;
  padding: 6px 0;
  font-weight: bold;
}

.about__text {
  max-width: 520px;    
  display: flex;
  flex-direction: column;
  justify-items: center;
  height: auto;
  margin: 0 auto;       
  text-align: center;   
  box-sizing: border-box;
    @include wideTablet{
max-width: 100%;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  p {
    margin-bottom: 20px;
    line-height: 1.6;
    max-width: 300px ;
       @include wideTablet{
max-width: 70%;    
}
  }
}

.about__bottom {
  display: flex;
  gap: 20px;
  margin: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.about__card {
  padding: 24px;
  border: 4px solid #3a2b5f;
  max-width: 400px;
  text-align: left;
  @include noisy-grain(0.25, 180px);
  border: 2px solid #caa44d;
  box-shadow:
    inset 0 0 0 4px #f5d27a,
    inset 0 0 0 10px #6b4b12,
    0 0 25px rgba(0, 0, 0, 0.6);
    @include wideTablet{
      margin-top: 20px;
       width: 100%;
    }
  h3 {
    margin-bottom: 16px;
  }

  ul {
    padding-left: 20px;

    li {
      margin-bottom: 8px;
    }
  }
}

.about__actions {
  display: flex;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  padding: 16px 32px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
@include noisy-grain();
}

.btn--gold {
  background: linear-gradient(to bottom, #d4a32f, #a67912);
}

.btn--red {
  background: linear-gradient(to bottom, #c83a2f, #7a1c17);
}
.about__projects{
  @include wideTablet{
       width: 100%;
    }
}