@use "../styles/mixins" as *;

.contact {
  width: 100%;
  color: #f2e9ff;
  text-align: center;
  height: 100vh;
  border: 2px solid #caa44d;
  box-shadow:
    inset 0 0 0 4px #f5d27a,
    inset 0 0 0 10px #6b4b12,
    0 0 25px rgba(0, 0, 0, 0.6);
  position: relative;

  @media (max-width: 900px) {
    height: auto;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 26px;
    letter-spacing: 2px;
  }

  &__panel {
    margin: 24px auto 30px;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    // padding: 30px;
     @include wideTablet {
     justify-content: start;
 
      }
  }

  &__subtitle {
    text-align: center;
    margin: 0 0 26px;
    letter-spacing: 1px;
  }

  &__grid {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;
    justify-content: center;
  @include wideTablet {
      flex-direction: column;
      }
  }

  &__avatar {
    padding: 0;
    width: 200px;
    border: 2px solid #caa44d;
    box-shadow:
      inset 0 0 0 4px #f5d27a,
      inset 0 0 0 10px #6b4b12;
    padding: 14px;
    background: rgba(20, 10, 40, 0.45);

    @include noisy-grain(0.18, 240px);
 @include wideTablet {
      width: 400px;
      height: 400px;
      }
   
    img {
      width: 100%;
      height: auto;
      display: block;
      image-rendering: pixelated;
    }
  }

  &__info {
    display: grid;
    gap: 16px;
    margin-right: 30px;
     @include wideTablet {
      margin: 0;
      }
  }

  &__row {
    display: grid;
    grid-template-columns: 42px 90px 1fr;
    align-items: center;
    gap: 10px;
    justify-items: center;
    text-align: center;

    padding: 14px 14px;
    border: 2px solid rgba(202, 164, 77, 0.65);
    box-shadow: inset 0 0 0 2px rgba(245, 210, 122, 0.25);

    @include noisy-grain(0.14, 260px);

    @media (max-width: 900px) {
      grid-template-columns: 42px 1fr;
      grid-auto-rows: auto;

      .contact__label {
        display: none;
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: grid;
    place-items: center;

    border: 2px solid rgba(202, 164, 77, 0.8);
    box-shadow: inset 0 0 0 2px rgba(245, 210, 122, 0.3);

    font-weight: 800;
    color: #f5d27a;
  }

  &__label {
    color: #f5d27a;
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  &__value {
    color: #f2e9ff;
    text-decoration: none;
    word-break: break-word;
    justify-self: center;
    text-align: center;
    padding: 0%;

    &:hover {
      text-decoration: underline;
    }
  }

  &__footer {
    margin: 14px 0 0;
    text-align: center;
    color: #f5d27a;
  }
}

