@use '../styles/mixins' as *;


.home {
  height: 100vh;
  display: flex;
  flex-direction: wrap;
  /* backdrop */
  background: url('../assets/home_backdrop.png') center / cover no-repeat;
  position: relative;
    @include tablet{
max-width: 600px;

}
}
