@use '../styles/mixins' as *;


.home {
  height: 100vh;
  display: flex;
  flex-direction: wrap;
  /* backdrop */
  background: url('../assets/Hero.png') center / cover no-repeat;
  position: relative;
    @include tablet{
max-width: 600px; 
 background: url('../assets/Hero_tablet.png') center / cover no-repeat;
}

    @include phone{
max-width: 600px; 
  background: url('../assets/Hero_tablet.png') center / cover no-repeat;

}
}