@use '../styles/mixins' as *;



.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-wrap: nowrap;   // no wrapping
  width: 100%;
    @include tablet{
gap: 10px;
}
  @include phone{
gap: 5px;
}

}

.nav img {
  width: clamp(140px, 18vw, 260px);
  height: auto;
  display: block;
  cursor: pointer;
  image-rendering: pixelated;
  transition: transform 0.1s ease;
  flex-shrink: 1;   
  @include tablet{
width: clamp(80px, 18vw, 100px);

}
  @include phone{
width: clamp(40px, 18vw, 70px);
padding: 0;
margin: 0;
}
}